<a href="https://colab.research.google.com/github/CrishelleMaun/CrishelleMaun/blob/main/Simple_Python_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.) A simple program that will ask your FULL NAME and will display your FULL NAME output in Horizontal and Vertical form.
FName = input('Enter Your Full Name: ')

print('\n')

print('Horizontal Form')
print(FName)

print('\n')

print('Vertical Form')
for FullName in FName: 
  print(FullName)

In [ ]:
#2.) Using dropdown list, create a program that will output the name of the Month if the input is its numeric equivalent. Example:
#If input is 2, the output is February, if input is 12, then the output is December.

Month = 'January' #@param ["January", "February","March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] 
MNumber = input('Enter A Number: ')

if MNumber == '1':
	print('January')
elif MNumber in '2':
	print('February')
elif MNumber in '3':
	print('March')
elif MNumber in '4':
	print('April')
elif MNumber in '5':
	print('May')
elif MNumber in '6':
	print('June')
elif MNumber in '7':
	print('July')
elif MNumber in '8':
	print('August')
elif MNumber in '9':
	print('September')
elif MNumber in '10':
	print('October')
elif MNumber in '11':
	print('November')
elif MNumber in '12':
	print('December')
else:
	print('Invalid Number')

In [ ]:
#3.) A simple program that will ask for 10 names and will display it in a 2 column table. 
print ('Enter A Names: ')
name1 = input() 
name2 = input()
name3 = input()
name4 = input()
name5 = input()
name6 = input()
name7 = input()
name8 = input()
name9= input()
name10 = input()

names = [
    [name1, name6],
    [name2, name7], 
    [name3, name8], 
    [name4, name9], 
    [name5, name10]
]

print ('\n')

for column in names:
    print("{: <10} {: <10}".format(*column))